/* -------------------------------------------- */
/* CORE CONTENT STYLING */
/* -------------------------------------------- */

p,address,ul,ol,dl,dd{
	margin-bottom:0;
	font-size:fluid(0.8125rem, 1rem, 20rem, 64rem);
	line-height:1.77;
}

/* -------------------------------------------- */
/* LINKS */
/* -------------------------------------------- */

article p > a:not([class]),article li > a:not([class]),.default-link,.default-links a{
	color:#333;
	box-shadow:0 4px 0 0 var(--color-accent);
	font-weight:var(--bold-weight);
	transition:box-shadow .2s linear, color .2s linear;
	&:hover{ color:#000;box-shadow:0 4px 0 0 var(--color-accent) }
}

:visited:not([class]){ color:inherit; }

/* -------------------------------------------- */
/*// HEADINGS*/
/* -------------------------------------------- */

h1,h2,h3,h4,h5,h6,dt,th,.faux-h2,.faux-h3{
	font-family:var(--font-display);
	font-weight:var(--heading-weight);
	margin-bottom:0;
}
h1{
	font-size:fluid(2rem, 2.5rem, 20rem, 64rem);
	+ h2{ margin-top:0.5em; }
}
h2,.faux-h2{
	font-size:fluid(1.5625rem, 1.75rem, 20rem, 64rem);
	+ h3{ margin-top:0.5em; }
}
h3,dt,.faux-h3{
	font-size:fluid(1.3125rem, 1.5rem, 20rem, 64rem);
	+ h4{ margin-top:1em; }
}
h4,h5,h6{
	font-size:fluid(1rem, 1.1875rem, 20rem, 64rem);
}

/* -------------------------------------------- */
/* LISTS */
/* -------------------------------------------- */

article ul,dl,ol{
	padding:0 30px 0 0;
	text-align:left;
}
ol{ margin-left:1.2em;}

/*//bullets*/
article ul{ list-style:none; }
article ul li::before, dt::before{
	content:"";
	width:6px;
	height:6px;
	background-color:var(--color-brand);
	float:left;
	margin:.7em 0 0 -2em;
	border-radius:50%;
}
dt::before{ margin-left: -1.33em; }
article li{padding:0 0 0 2em;}
article ol li{padding:0 0 0 1em;}
nav li{padding:0}
nav li::before{display:none}

/*// horrible nested lists and list items with multiple paras.*/
/*// ideally steer clients away from doing this, but at least it*/
/*// should work. Nullify lobotomised owl approach here as it can't*/
/*// really work...*/
article ul ul, article ul ol, article ol ul, article ol ol, article ul:not(.list-reset) > li p{
	margin-top:0.75em;
	margin-bottom:0.75em;
}

dl{ padding-left:2em; }
dd + dt{ margin-top:.5em; }
dd{ margin:0; }
dd p{ margin-top:.5em; }

/* -------------------------------------------- */
/* HR */
/* -------------------------------------------- */

hr {
	border-color:var(--color-gray-200);
	border-top-width:1px;
	margin-top:3em;
	margin-bottom:3em;
}

/* -------------------------------------------- */
/* IMG & FIGURE & CAPTION */
/* https://jeffbridgforth.com/having-figure-match-width-of-contained-image/ */
/* https://frontendmasters.com/blog/the-figcaption-problem/ */
/* -------------------------------------------- */

/* CK Editor wraps tables with figure.table, which borks on this technique... set it back to block... */
figure.table{
	display:block!important;
}
figure{
	inline-size:fit-content;
	margin-inline:auto;
	& img{
		box-shadow:0 30px 60px -10px rgba(0,0,0,.3);
		padding:1px;
		border:1px solid var(--color-gray-200);
	}
}
figcaption {
	contain:inline-size;
	font-size:0.875em;
	line-height:1.6;
	max-width:60ch;
	text-align:center;
	margin:1.5em auto 0;
}

/* -------------------------------------------- */
/*// BLOCKQUOTES*/
/*// https://maedi.com/code/semantic-blockquote-html5/*/
/* -------------------------------------------- */

blockquote,.quote{
	position:relative;
	background:var(--color-light);
	border-left-width:.25rem;
	border-left-color:var(--color-brand);
	padding:2em 3em;
	/*// in case it comes from redactor and there are no p tags...*/
	font-size:fluid(1.2rem, 1.4375rem, 20rem, 64rem);
	line-height:1.6;
	color:var(--color-brand);
	&::before, &::after{
		content:"“";
		font-family:var(--font-display);
		font-size:48px;
		/*// font-weight:theme('_vars.boldWeight');*/
		position:absolute;
		top:0;left:.5em;
	}
	&::after{
		content:"”";
		top:auto;left:auto;
		right:.5em;bottom:0;
	}
}
/*// ideally we're in a <figure> element,*/
/*// but keep the styles above on the blockquote*/
/*// in case it's come from Redactor which will not*/
/*// wrap a blockquote in a figure.*/
figure blockquote{
	margin:0;
	border:0;
	padding:0;
	&::before,&::after{ display:none; }
}
blockquote p{
	font-size: fluid(1.2rem, 1.4375rem, 20rem, 64rem);
}

/* -------------------------------------------- */
/* TABLES */
/* -------------------------------------------- */

table {
	width:100%;
	table-layout:auto;
	text-align:left;
	line-height:1.4;
}
table,tbody p{ font-size:fluid(0.75rem, 1rem, 48rem, 80rem); }
thead {
	border-bottom:1px solid var(--color-gray-300);
}
td,th{ padding:.8rem; }
th{
	text-transform:uppercase;
	letter-spacing:1.2px;
	font-weight:var(--bold-weight);
	font-size: fluid(0.6rem, 0.75rem, 48rem, 80rem);
	background:var(--color-gray-300);
}
tbody tr{ border-bottom:1px solid var(--color-gray-200); }
/*// overrides for tables on silver*/
.bg-gray-100 table{
	td{ background:#fff; }
	th{ background:var(--color-gray-200); }
	tbody tr{ border-color:var(--color-gray-300); }
}

/* -------------------------------------------- */
/* FORMS */
/* -------------------------------------------- */

[type=text],[type=email],[type=url],[type=tel],[type=password],[type=search],[type=number],textarea,select{
	margin-top:.5em;
	appearance:none;
	display:block;
	width:100%;
	background-color:#fff;
	padding:12px 10px;
	border:1px solid var(--color-gray-200);
	color:var(--color-body);
	font-size:fluid(1rem, 1.125rem, 20rem, 64rem);
	line-height:1.5;
	&:hover{
		border-color:var(--color-gray-300);
	}
	&:focus{
		outline:0;
		box-shadow:0 0 0 2px var(--color-brand);
		border-color:transparent;
	}
}