.is-active{
	transform:none!important; /*need !important here because postcss (I think) seems to be doing some poor optimisations that obliterate this down to `transform: translate(0)rotate(0)scale(1)` whic is not good enough to override the composable properties coming from Tailwind even though they're later in the cascade */
	translate:0;
	rotate:0;
	scale:1;
	opacity:1;
	visibility:visible;
	pointer-events:all;
	display:block;
	&.flex{ display:flex; }
	&.inline-flex{ display:inline-flex; }
	&.grid{ display:grid; }
}
.no-js .no-js-show.hidden{ display:block; }

/* aspect ratios lifted from the Tailwind aspect ratio plugin...*/
/* no need for a whole plugin just for these really...*/
.aspect-16-9{
	position:relative;
	padding-bottom:calc(9 / 16 * 100%);
	> *{
		position:absolute;
		height:100%;
		width:100%;
		top:0;right:0;bottom:0;left:0
	}
}

/* FLUID UTIITIES*/
/* at full size, the values should match tailwind's equivalent class.*/
/* If you want in-betweeney values, create a new class.*/

.fl\:py-16 {
	padding-top:fluid(1.5rem, 6rem, 20rem, 64rem);
	padding-bottom:fluid(1.5rem, 6rem, 20rem, 64rem);
}
.fl\:py-12 {
	padding-top:fluid(1rem, 3.875rem, 20rem, 64rem);
	padding-bottom:fluid(1rem, 3.875rem, 20rem, 64rem);
}
.fl\:py-8{
	padding-top:fluid(0.75rem, 2rem, 20rem, 64rem);
	padding-bottom:fluid(0.75rem, 2rem, 20rem, 64rem);
}

.fl\:text-sm{
	font-size:fluid(0.6875rem, 0.875rem, 48rem, 80rem);
}
.fl\:text-base{
	font-size:fluid(0.8125rem, 1rem, 20rem, 80rem);
}
.fl\:text-lg,.lead p{
	font-size:fluid(1rem, 1.125rem, 20rem, 80rem);
}
.fl\:text-3xl{
	font-size:fluid(1.5rem, 1.875rem, 20rem, 80rem);
}
.fl\:text-4xl{
	font-size:fluid(1.75rem, 2.25rem, 20rem, 80rem);
}
.fl\:text-5xl{
	font-size:fluid(2rem, 3rem, 20rem, 80rem);
}

/* -------------------------------------------- */
/* COLUMNISE*/
/* -------------------------------------------- */

@media (min-width:590px){
	.columnise{
		column-count:2;column-gap:4rem
	}
}

/* -------------------------------------------- */
/* GRID HELPERS */
/* -------------------------------------------- */

.grid-area-1\/1 { grid-area:1/1 }

/*.max-w-4-cols{ max-width: calc(var(--gridCol) * 4 + var(--gridGap) * 3) }*/
/*.max-w-6-cols{ max-width: calc(var(--gridCol) * 6 + var(--gridGap) * 5) }
.max-w-7-cols{ max-width: calc(var(--gridCol) * 7 + var(--gridGap) * 6) }
.max-w-8-cols{ max-width: calc(var(--gridCol) * 8 + var(--gridGap) * 7) }
.max-w-10-cols{ max-width: calc(var(--gridCol) * 10 + var(--gridGap) * 9) }*/
