/*
opting out of layering as it's not worth it as far as I'm concerned!
https://github.com/tailwindlabs/tailwindcss/discussions/13188#discussioncomment-8737721
*/

@source '../../../templates/**/*.twig';
/* disable TW's container utility as we use our own.*/
@source not inline("container");

@import 'tailwindcss/theme.css';

@theme {

	--breakpoint-*: initial;
	--breakpoint-xs: 450px;
	--breakpoint-2xs: 550px;
	--breakpoint-sm: 654px;
	--breakpoint-md: 864px;
	--breakpoint-lg: 1074px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	--font-sans-primary: "Helvetica Neue", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Arial", "Noto Sans", "sans-serif";
	--font-body: "Helvetica Neue", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Arial", "Noto Sans", "sans-serif";
	--font-display: "Helvetica Neue", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Arial", "Noto Sans", "sans-serif";

	--semibold-weight: 600;
	--bold-weight: 700;
	--heading-weight: 200;

	--color-light: #F8F8F8;
	--color-dark: #1C1C1C;
	--color-brand: #000;
	--color-accent: #184362;
	--color-text: var(--color-dark);

	/* TW palette overrides */
	/* https://find-nearest-tailwind-colour.netlify.app/ */
	--color-gray-100: var(--color-light);
	--color-gray-500: #68686B;
}

/* for vars that don't require integration with TW utilities */
/* https://tailwindcss.com/docs/theme#why-theme-instead-of-root */
:root{
	/* helpers for matching non-CSS grid layouts with our 12-col grid.
	If changing gridGap, you'd ideally need to also change TW's --spacing
	var, so try not to!! (it's 0.25rem by default). Do `desired px value/128`
	to get the right rem value. */
	--gridGap: calc(32px);
	--gridCol: calc((var(--breakpoint-2xl) - (13 * var(--gridGap))) / 12);
	/* using those, we can now create utilities like:
	.max-w-8-cols{ max-width: calc( var(--gridCol) * 8 + var(--gridGap) * 7) }
	(= desired number of columns + the inner gutters of the area)
	*/

	/* the width of one single side gutter after the full desktop size has passed. */
	--sideGutter: calc((100vw - (var(--breakpoint-2xl) - 1.5 * var(--gridGap)) ) / 2);
}

/* we prefer our own base layer, so omit tailwind's one */
/*@import "tailwindcss/preflight.css" layer(base);*/

@import './_global.css';
@import './_elements.css';
@import './_project.css';
@import 'tailwindcss/utilities.css';
@import './_utilities.css';