// --------------------------------------------
// GLOBAL NORMALISER
// --------------------------------------------

*,::before,::after{box-sizing:border-box;border-radius:0;}
div,main,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,blockquote,fieldset,picture{display:block;margin:0;padding:0;}
//audio,canvas,video{display:inline-block;}
::selection {background:theme('colors.dark.DEFAULT');color:theme('colors.brand.DEFAULT');}
::-moz-selection {background:theme('colors.dark.DEFAULT');color:theme('colors.brand.DEFAULT');}
html{font-size:100%;text-size-adjust:100%;}
nav ul{list-style:none;padding:0}
a{text-decoration:none;}
iframe,object,embed,img{display:block;border:0;max-width:100%;height:auto;vertical-align:middle;}
abbr{border-bottom:1px dotted #666;cursor:help;text-decoration:none;}
address{font-style:normal;}
b,strong{font-weight:theme('_vars.boldWeight');}
i,em{font-style:italic;}
button{cursor:pointer;}
table{border-collapse:collapse;}
// [name="google_conversion_frame"]{ position:absolute;bottom:0; } // add this if you're using any PPC ads

// No-JS visibility helpers
.no-js .js,.js .no-js{ display:none; }

// --------------------------------------------
// TAILWIND PREFLIGHT cherrypicks.  We're not using
// Tailwind's base reset as it's way too nuclear,
// but some of the stuff is actually useful... add back here
// --------------------------------------------

// this is to allow adding a border to an element just by adding border-width.
// need to add `img` here to override the border:0 coming from above.
*,::before,::after,img {
	border-width:0;
	border-style:solid;
	border-color:theme('borderColor.DEFAULT', currentColor);
}

// enable this if using g maps and add wrapper el to the map:
//.google-map * {
//	border-style: none;
//}

// --------------------------------------------
// ELEMENT RESETTER CLASSES
// --------------------------------------------

.list-reset{
	margin:0;padding:0;
	list-style:none;
	> li{ padding-left:0;margin:0; &::before{display:none} }
}
// flex grid uses negative margins on container and padding on li's
// which need to be maintained  (.list-reset > li overrides utility classes
// as it has a higher specificity). Can probably avoid these issues by migrating
// to use css grid, or using `gap`.
.list-reset-for-grids{
	list-style:none;
	padding:0;
	> li{ &::before{display:none} }
}
.button-reset{
	border:none;
	margin:0;
	padding:0;
	width:auto;
	min-width:auto;
	overflow:visible;
	background:transparent;
	color:inherit;
	-webkit-appearance:none;
	-moz-appearance: none;
	cursor:pointer;
	&[type='button']{ -webkit-appearance: button; }
	&::-moz-focus-inner{ border:0!important; }
	&:hover{ color:inherit; }
}

// reset default focus state for buttons and links...
// https://tailwindcss.com/docs/ring-width
button:focus, a:focus{
	outline:none;
}
button:focus-visible, a:focus-visible,[role="button"]:focus-visible{
	outline:none;
	box-shadow: 0 0 0 3px theme('colors.brand.DEFAULT');
}

// --------------------------------------------
// LOBOTOMISED OWL
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// --------------------------------------------

%spacing{
	margin-top:1.1em;
	@media (min-width:theme('screens.md')) { margin-top:1.85em; }
}
//%halfSpacing{
//	margin-top:0.65em;
//	@media (min-width:theme('screens.md')) { margin-top:0.925em; }
//}
*+*,.spacing, * + figure, * + blockquote{
	@extend %spacing;
}
// this is to ensure that divs used for spacing get the standard font size
// so that the margin matches the lobotomised owl.
div.spacing{
	@include fluid(font-size, 20rem, 64rem, 1rem, 1.125rem);
}

span,li+li,i,option,br,hr,svg,svg *,.button+.button,blockquote:first-child,p:first-child,h1:first-child,h2:first-child,h3:first-child,table:first-child,.spacing:first-child,.yii-debug-toolbar__block *,[type=hidden]+*,[aria-hidden=true]+*,source+*{
	margin-top:0;
}

// --------------------------------------------
//
// --------------------------------------------

input,textarea,select,button{ color:inherit;font-family:inherit }