{# ======================================
HOME.
========================================= #}

{% extends "_layout" %}

{# =============================================================================== #}

{% set entry = craft.entries.section('home').one() %}

{% set title = entry.titleTag ? entry.titleTag : entry.title %}
{% set metaDesc = entry.metaDesc ?? null %}
{% set noIndex = entry.noIndex ?? null %}

{% set ogTitle = entry.ogTitle ?? null %}
{% set ogDesc =  entry.ogDesc ?? null %}
{% set ogImg = entry.ogImage|length ? entry.ogImage.one : null %}
{% set ogType = entry.ogType ?? null %}
{% set twitterCreator = entry.twitterCreator ?? null %}
{% set twitterCard = entry.twitterCard ?? null %}

{# =============================================================================== #}

{% block content %}
	<h1>Hi there</h1>
{% endblock %}